.item-card {
  background: $card-bg;
  border-radius: 24px;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
}
.item-card_left {
  padding: 21px 0 14px 17px;
}

.item-card_img {
  border-radius: 12px;
}
.item-card_content-title--big {
  font-weight: 900;
  font-family: berlin;
  color:  $primary;
  font-size: 2.8rem;
  line-height: 3.3rem;
}
//.item-card_content-wrapper {
//  max-height: 100%;
//  overflow-x: auto;
//}
.item-card_content-txt--big {
  margin-top: 2px;
  color: $gray;
}
.item-card_content_length--big {
  color: $tertiary;
  font-family: berlin;
  font-size: 3.6rem;
  line-height: 4.1rem;
}
.item-card--big_tag-wrapper {
  margin-top: 11px;
  column-gap: 5px;
  row-gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.item-card--big_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-weight: 900;
  font-size: 2.3rem;
  line-height: 2.7rem;
  transition: $transition-sexy;
  &.audio {
    color: $primary;
    &:hover, &:focus {
      color: $white;
      background-color: $primary;
    }
  }
  &.text {
    color: $secondary;
    &:hover, &:focus {
      color: $white;
      background-color: $secondary;
    }
  }
  &.video {
    color: $tertiary;
    &:hover, &:focus {
      color: $white;
      background-color: $tertiary;
    }
  }
}

//small
.item-card--small_left {
  display: flex;
  flex-direction: column;
}
.item-card_content-title--small {
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 900;
  color: $primary;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.item-card_content-txt--small {
  color: $tertiary;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.item-card--small {
  padding-right: 10px;
}
.item-card_content_length--small {
  text-align: center;
  font-family: berlin;
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 3px 0 6px;
}
.item-card--small_tag-wrapper {
  column-gap: 5px;
  row-gap: 8px;
  display: flex;
  flex-wrap: wrap;
}
.btn-tag--small {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 3px 5px;
}

.item-card--small_cta-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card--small_cta {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 6px 12px;
  transition: $transition-sexy;
  border-radius: 3px;
  color: $white;

  &.audio {
    background-color: $primary;
    border: 2px solid $primary;
    &:hover, &:focus {
      color: $primary;
      background-color: transparent;
    }
  }
  &.text {
    background-color: $secondary;
    border: 2px solid $secondary;
    &:hover, &:focus {
      color: $secondary;
      background-color: transparent;
    }
  }
  &.video {
    background-color: $tertiary;
    border: 2px solid $tertiary;
    &:hover, &:focus {
      color: $tertiary;
      background-color: transparent;
    }
  }
}
//xl
.item-card--xl {
  
}
