html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    line-height: 1.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.cd-main-content {
    flex: 1 0 auto;
    position: relative;
}

h1 {
    font-family: $font-family-title;
    font-weight: 900;
    color: $primary;
}
