footer {
    min-height: 197px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer_wrapper > img {
  height: 176px;
}
.rotate_180 {
  transform: rotateY(180deg);
}
