#header-annonces {
    background: #7791CC24 0% 0% no-repeat padding-box
}

.header_search {
    flex-shrink: 0;
    margin-left: 40px;
    @include media-breakpoint-down(lg) {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
    .input-box {
        border-radius: 0;
        display: flex;
        align-items: center;
    }
    .input-box i {
        color:#000000;
    }

    .form-control-search {
        height: 27px;
        border: none;
        background: none;
        text-align: center;
        color: #000;
        font-size: 2rem;
        &:focus {
            background: none;
            border-bottom: 1px solid $primary;
        }
        @include media-breakpoint-up(xl) {
            min-width: 341px;
        }
    }
    .form-control:focus {
        background-color: #eeeeee69;
        box-shadow: none;
        border-color: #eee;
    }
}


//=======================================================
// Text Annonces                                        |
//=======================================================

.text-container {
  padding: 0px 10px;
  min-width: 0;
  font-size: 1.8rem;
  color: #708090;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: calc(100vw - 60px);
  min-height: 2.4rem;
  line-height: 2rem;
    span {
        display: inline-block;
    }
    .animate {
        position: relative;
        animation: leftright 35s infinite linear;
    }
}
@keyframes leftright {
    0% {
        transform: translateX(0%);
        left: 0%;

    }10% {
        transform: translateX(0%);
        left: 0%;

    }
    90% {
        transform: translateX(-110%);
        left: 0%;
    }
    100% {
        transform: translateX(-110%);
        left: 0%;
    }
}
.fader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;

}

@media (max-width: 450px) {
    .center {
        width: 100%;
        padding: 20px;
    }
}

//=======================================================
// End Annonce                                          |
//=======================================================
 .header {
     box-shadow: 0 3px 6px #00000029;
     @include media-breakpoint-up(lg) {
         height: 70px;
     }
 }

 nav.navbar.navbar-expand-lg {
     @include media-breakpoint-up(lg) {
         height: 70px;
     }
 }
 .dropdown-toggle::after {
     content: none;
 }
.nav-link.dropdown-toggle {
    @include media-breakpoint-up(lg) {
        line-height: 70px;
    }
    padding-bottom: 0;
    padding-top: 0;
    &:hover, &:active, &:focus {
        color: $quadrary;
    }
}
