@import "../include/bootstrap-overide";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";


//section au programme
.wavy-box {
  padding: 30px 0 50px;
  z-index: 10;
}
.btn-home_tag_card-selector[aria-expanded="true"] {
  background-color: rgba(0, 252, 164, 0.04);

  a {
    filter: saturate(200%) hue-rotate(-120deg);
  }
  div {
    filter: saturate(200%) hue-rotate(-120deg);
  }
}
.btn-home_tag_card-selector {
  height: 80px;
  background-color: rgba(0, 252, 232, 0.01);
  &.btn {
    &:hover {
      border: none;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

}

.home-prog_big-title {
  font-family: 'berlin';
  font-size: 6.9rem;
  line-height: 1;
  font-weight: 900;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotateZ(180deg) translateX(100%);
  position: absolute;
}
.home-prog_big_item-wrapper {
  //display: flex;
  justify-content: center;
}
.home-prog_big_item {
  font-size: 2.6rem;
  line-height: 3.1rem;
  //margin: 0 28px;
  &:not(:last-child) {
    //margin-bottom: 50px;
    @include media-breakpoint-up(lg) {
      //margin-bottom: 108px;
    }
  }
}
.m-sm-o {
  @include media-breakpoint-down(md) {
    margin: 0;
  }
}
