
@font-face {
    font-family: 'corbel';
    src:url('/resources/fonts/corbel.woff2') format('woff2'),
    url('/resources/fonts/corbel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'berlin';
    src:url('/resources/fonts/berlin_sans_fb_regular.woff2') format('woff2'),
    url('/resources/fonts/berlin_sans_fb_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
